#nav_barassign {
    position: absolute;
    top: 65px;
    width: 1440px;
    margin-left: 560px;


}

#banner {

    background-image: linear-gradient(180deg, rgb(0, 0, 0)40px, rgba(0, 0, 0, 0)200px), url(assets/main\ banner.png);
    height: 798px;
    background-repeat: no-repeat;
    width: 1440px;

}

#home_id,
#product_id,
#promo_id,
#about_id,
#contact_id {
    color: azure;
    font-family: poppins;
    font-weight: bold;
    padding-left: 50px;
    font-size: 25px;

}

#logo {
    margin-top: 50px;
    margin-left: 20px;
}



#off_title {
    position: absolute;
    top: 115px;

    left:10px;
}

#offer {
    font-family: archivo;
    font-weight: bolder;
    color: white;
    font-size: 91px;
    filter: drop-shadow(5px 5px 2px black);
    height: 400px;
}

#subtitle {
    margin-left: 200px;
    font-family: nunito;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 350px;
    right: 190px;
}

#on1 {
    position: absolute;
    top: 625px;
    left: 80px;
}

#page2 {

    margin-top: 0px;
    height: 798px;
    width: 1440px;

    background-color: #f5eddf;


}

#bgobj1 {
    position: absolute;
    margin-top: 113px;



}

#page2head {

    font-family: archivo;
    font-weight: bold;
    position: absolute;
    margin-top: 83px;
    margin-left: 578px;
    font-size: 64px;
    color: #f64b3c;
}

#page2sub {
    position: absolute;
    font-family: montserrat;
    margin-top: 192px;
    margin-left: 361px;
    font-size: 25px;
}

#chef1 {
    height: 254px;
    width: 245px;
    border-radius: 180px;
    margin-left: 195px;
    margin-top: 320px;

}

#chefnames {
    margin-top: 20px;
    margin-left: 187px;
    font-family: archivo;
    font-weight: bold;
    font-size: 33px;
    color: #f64b3c;
}

#chefdesignations {
    margin-top: 28px;
    margin-left: 269px;
    font-family: nunito;
    font-weight: bold;
    font-size: 25px;
    color: #f64b3c;
}

#chef2 {
    position: absolute;
    height: 254px;
    width: 245px;
    border-radius: 180px;
    margin-left: 584px;
    top: 1120px;

}

#chefname2 {
    position: absolute;
    top: 1390px;
    margin-left: 574px;
    font-family: archivo;
    font-weight: bold;
    font-size: 33px;
    color: #f64b3c;
}

#chefdesignation2 {
    position: absolute;
    top: 1460px;
    margin-left: 636px;
    font-family: nunito;
    font-weight: bold;
    font-size: 25px;
    color: #f64b3c;
}

#chef3 {
    position: absolute;
    height: 254px;
    width: 245px;
    border-radius: 180px;
    margin-left: 1004px;
    top: 1120px;

}

#chefname3 {
    position: absolute;
    top: 1390px;
    margin-left: 980px;
    font-family: archivo;
    font-weight: bold;
    font-size: 33px;
    color: #f64b3c;
}

#chefdesignation3 {
    position: absolute;
    top: 1460px;
    margin-left: 1060px;
    font-family: nunito;
    font-weight: bold;
    font-size: 25px;
    color: #f64b3c;
}

#page3 {
    margin-top: 0px;
    height: 798px;
    width: 1440px;

    background-color: #f54b3c;
}

#p3burger {

    margin-left: 155px;
    margin-top: 165px;
}

#p3title {
    position: absolute;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Archivo";
    top: 1800px;
    margin-left: 768px;
}

#page3sub {
    position: absolute;
    top: 1940px;
    left: 750px;

    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
}

#on2 {
    margin-top: 520px;
    margin-left: 125px;
}

#page4 {

    width: 1440px;
    height: 824px;
    background-color: #f5eddf;

}

#bgobj2 {
    position: absolute;
    margin-top: 20px;
}

#p4title {
    position: relative;
    font-size: 75px;
    color: #f64b3c;
    font-weight: 700;
    font-family: "Archivo";
    top: 253px;
    margin-left: 135px;
}

#page4sub {
    position: relative;
   
    font-size: 25px;
    color: #f64b3c;
    font-weight: 400;
    font-family: "Montserrat";

    margin-top:280px;
    margin-left:90px;
}

#on3{
    position:absolute;
    margin-left: 125px;
    top:2925px;
    
}

#p4burger{
    position:absolute;
    left:826px;
    top:2566px;
}